@import url('https://fonts.google.com/specimen/Outfit');
:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
img{
    max-width: 100%;
}
body{
    font-family: "outfit", sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Light-gray);
    margin: 1.25rem;
    height: 100vh;

}
.qr-code-container{
    background: var(--White);
    box-shadow: 0 0 1px rgb(0,0,0,0.5);
    border-radius: 1em;
    padding: 1.25rem;
    margin-bottom: 2rem;

}
.qr-code-container img{
    border-radius: 1em;
    margin-bottom: 1rem;


}
h1{
    color: var(--Dark-blue);
    text-align: center;
    margin-bottom: 1rem;
}
p{
    color: var(--Grayish-blue);
    text-align: center;
}
.attribution{
    text-align: center;
    font-size: 13px;
}
.attribution a{
    color: var(--Grayish-blue);
}
.attribution span{
    color: var(--Grayish-blue);
}
@media  screen and (min-width: 375px) {
    .qr-code-container{
        width: 370px;
    }

    
}
